<% include header.ejs %>

<div class='topbar'>
    <div style='margin:0 auto; width:1200px;'>
        <!--a href='/' class='logolink'><img src='images/logoicon.png' height='30' /></a-->
        <% if (typeof(selectedClient) != 'undefined') { %>
            <div style='float:left;'>
                <div class='clientmenu'><%= selectedClient.name %>:  <%= channelData.info.name %></div>
            </div>
        <% } %>    
    </div>    
</div>

<div class='vlinkbox'>
    
    <!--div style='margin:0 auto; width:1200px; padding:13px 0 23px 0;'>
        <h3 style='color:#333;'><span style='color:#777; font-weight:normal; display:none;'>Channel:</span><%= channelData.info.name %></h3>
        <div class='clr'></div>
    </div-->
    
<ul class='vlink'>
    <li><a href='/channel?id=<%= channelId %>'>Dashboard</a></li>
    <li><a href='/bulkUploads?id=<%= channelId %>'>Bulk Uploads</a></li>
    <li><a href='/channelSettings?id=<%= channelId %>'  class='active'>Settings</a></li>
    <li><a href='/testAPI?id=<%= channelId %>'>Test APIs</a></li>
    <div class='clr'></div>
</ul>
</div>

<div style='margin:10px auto; width:1210px;  padding:0px 0px 30px 0px; min-height:1000px;'>
    
    <div style='padding:0 6px;'>
        <div style='border-bottom:1px solid #eee; padding:0px 0 15px 0; margin-top:30px;'>
            <div style='margin-top:8px; float:left;'>
                <h1>Edit Channel Settings</h1>
            </div>
            
            <div class='clr'></div>
        </div>
    
    <form method='POST' action='/saveChannelSettings' id='saveChannelForm'>
            <div style='margin-top:20px;'>
                <div style='font-size:16px; color:#777; padding-top:8px;'>Channel Name:</div>
                <div style='margin-top: 10px;'>
                    <input type='text' name='channel_name' value='<%= channelData.info.name %>' id='channel_name' class='inputboxlarge' style='width:600px;' />
                </div>
                <div class='clr' style="margin-top:30px;"></div>
                
                <div style='font-size:16px; color:#777; padding-top:8px;'>Description:</div>
                <div style='margin-top: 10px;'>
                    <input type='text' name='channel_desc' value='<%= channelData.info.desc %>' class='inputboxlarge' style='width:600px;' />
                </div>
                <div class='clr' style="margin-top:30px;"></div>
                
                <div style='font-size:16px; color:#777; padding-top:8px;'>Client Name:</div>
                
               
                <div style='margin-top: 10px;'>
                    <input type='text' name='client_name' value='<%= selectedClient.name %>' class='inputboxlarge' style='width:600px;' />
                </div>
                <div class='clr' style="margin-top:30px;"></div>
                
                <div style='float:left;'>
                    <a href='#' onclick="document.getElementById('saveChannelForm').submit();" class='zbutton zsmall zwhite'>Submit</a>
                </div>
                
                <div class='clr'></div>
            </div>
            <input type='hidden' name='channelId' value='<%= channelId %>' />
            <input type='hidden' name='clientId' value='<%= selectedClient.id %>' />
            </form>        
    
    
    </div>
</div>    

<% include footer.ejs %>