<div style='float:left;margin-right:50px; width:300px;'>
    <h1 style='font-size:16px;'>User History</h1>
    <div id='history' style='padding-top:20px;'>
        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
            <tbody>
                <tr>
                    <th>Item</th>
                    <th>Action</th>
                    <th>Time</th>
                </tr>
                <% userData.forEach(function(udata) { %>
                    <tr>
                        <td><%= udata[1] %></td>
                        <td><%= udata[2] %></td>
                        <td><%= udata[0] %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<% algos.forEach(function(algo) { %>
<div style='float:left; width:200px; margin-right:50px'>
    <h1 style='font-size:16px;'><%= algoList[algo] %></h1>
    <div id='history2' style='padding-top:20px;'>
        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
            <tbody>
                <tr>
                    <th>Item</th>
                    <th>Score</th>
                </tr>
                <% recommendedItemsArr[algo].forEach(function(rdata) { %>
                    <tr>
                        <td><%= rdata[0] %></td>
                        <td><%= rdata[1] %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<% }) %>
<div class='clr'></div>